html {
  box-sizing: border-box;
}
html,
body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  height: 100%;
  display: grid;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#game {
  margin: auto;
}
